/* css/themes/classic.css */
:root {
    --bg-color: #1e3a8a;           /* כחול רויאל */
    --text-color: #ffffff;
    --sub-text-color: #bfdbfe;     /* תכלת */
    --accent-color: #93c5fd;       /* תכלת בהיר */
    
    --frame-bg: #172554;           /* כחול עמוק */
    --card-bg: #1e40af;            /* כחול בינוני */
    
    --clock-bg: #172554;
    --footer-bg: #172554;
}