/* css/themes/dark.css */
:root {
    --bg-color: #111111;           /* שחור כמעט מלא */
    --text-color: #e2e8f0;         /* לבן שבור */
    --sub-text-color: #94a3b8;     /* אפור בינוני */
    --accent-color: #38bdf8;       /* תכלת (במקום זהב) */
    
    --frame-bg: #1e293b;           /* רקע אחיד כהה למסגרת */
    --card-bg: #334155;            /* רקע אחיד לכרטיסיות */
    
    --clock-bg: #0f172a;
    --footer-bg: #0f172a;
}